@font-face {
  font-family: 'Circe Slab C';
  src: url('CirceSlabC-Bold.woff2') format('woff2'),
    url('CirceSlabC-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Slab C';
  src: url('CirceSlabC-Regular.woff2') format('woff2'),
    url('CirceSlabC-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Slab C';
  src: url('CirceSlabC-Medium.woff2') format('woff2'),
    url('CirceSlabC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
